html {
  font-size: 100%;
  box-sizing: border-box;
}
*body {
  padding: 0;
  margin: 0;
  font-size: 15px;
}
h1,
h2,
h3 {
  color: #4d4d4d;
}
.wrapper {
  display: grid;
  grid-column: 2fr 2fr;
  justify-items: center;
  background-color: #fafafa;
}

.top {
  text-align: center;
  line-height: 20px;
}

#reliable {
  font-family: "poppins", sans-serif;
  font-weight: 200;
  color: #4d4d4d;
}

#powered {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #4d4d4d;
}

#para_head {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4d4d;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 25px;
  margin: 2.5rem 0 0 2rem;
}
/*-----------supervisor--------*/
.card-1 {
  width: 300px;
  grid-column: 1;
  grid-row: 2;
  border-top: 5px solid hsl(180, 62%, 55%);
  padding: 15px;
  border-radius: 8px;
  border-style: ridge;
  box-shadow: 5px 10px #d9d9d9;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4d4d4d;
}

/*-----------Team Builder--------*/
.card-2 {
  width: 300px;
  grid-column: 2;
  grid-row: 1;
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: -34%;
  border-style: ridge;
  box-shadow: 5px 10px #d9d9d9;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4d4d4d;
}
/*-----------Calculator--------*/
.card-3 {
  grid-column: 3;
  grid-row: 2;
  width: 300px;
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 8px;
  padding: 15px;
  border-style: ridge;
  box-shadow: 5px 10px #d9d9d9;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4d4d4d;
}
/*-----------Karma--------*/
.card-4 {
  grid-column: 2;
  grid-row: 3;
  width: 300px;
  border-style: ridge;
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 8px;
  padding: 15px;
  margin-top: -34%;
  box-shadow: 5px 10px #d9d9d9;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4d4d4d;
}

.img {
  display: block;
  float: right;
}
/*---------Device Size 375px--------------*/
@media (max-width: 375px) {
  body {
    width: 100%;
    margin: 0;
  }
  h1 {
    font-size: large;
  }
  h3 {
    font-size: medium;
    line-height: 5px;
    letter-spacing: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    width: 100%;
  }
  .top {
    width: 100%;
    text-align: center;
  }
  #para_head {
    font-size: 15px;
    text-align: center;
  }
  .card-container {
    display: grid;
    grid-template-columns: auto;
    width: 300px;
    align-items: center;
    width: 100%;
  }
  .card-1 {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    width: 250px;
  }
  .card-2 {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
    width: 250px;
  }
  .card-3 {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    width: 250px;
  }
  .card-4 {
    grid-column: 1;
    grid-row: 4;
    margin: auto;
    width: 250px;
  }
}
